<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MobileAppBackendBaseURL</key>
	<string>https://lukaszbielawski.pl</string>
	<key>MobileAppBackendModuleName</key>
	<string>gameMaster</string>
	<key>EncryptionPublicKeyFileName</key>
	<string>encryption_private_key</string>
	<key>PrivacyPolicyFileName</key>
	<string>privacy_policy</string>
	<key>TermsAndConditionsFileName</key>
	<string>terms_and_conditions</string>
	<key>ContactEmailAddress</key>
	<string>lukaszbielawskiapps@gmail.com</string>
	<key>SubscriptionIdentifiers</key>
	<dict>
		<key>NoTrial</key>
		<array>
			<string>lukaszbielawski.Game_Master_AI.one_year_premium</string>
			<string>lukaszbielawski.Game_Master_AI.one_month_premium</string>
		</array>
		<key>Trial</key>
		<array>
			<string>lukaszbielawski.Game_Master_AI.one_year_premium_with_trial</string>
			<string>lukaszbielawski.Game_Master_AI.one_month_premium</string>
		</array>
	</dict>
</dict>
</plist>
